//colors

$color-base-100: #1C1C1C;
$color-base-200: #585757;
$color-base-300: #969696;
$color-base-400: #00000026;
$color-base-500: #0000000A;
$color-base-600: #FFFFFF;

$color-primary-100: #004289;
$color-primary-200: #0F5096;
$color-error: #EF4147;
$color-highlight: #bd992391;

$color-bg-100: #FEFEFE;
$color-bg-200: #F8F8F8;
$color-bg-300: #EFEFEF;

$color-border-grey: #E3E3E3